$service_size: 20vw;
$service_color_warn: #de3300;
$service_color_ok: #008404;
$service_color_selected: #005794;
$service_name_size: 3rem;
$service_name_lh: 4rem;

html, body, main {
  height: 100%;
}

body {
  background-color: #fafafa;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.services.grid {
  display: flex;
  flex: 3;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  padding: 10px 0;
}

.detail-pane {
  flex: 0;
  width: 0vw;
  min-height: 100%;
  overflow-y: auto;
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  transition: width 0.5s;

  &.open {
    flex: 1;
    width: 33vw;
  }

  .content {
    padding: 20px 10px;
  }

  h2 {
    letter-spacing: 0.2rem;
  }

  h2, h3 {
    text-align: center;
  }

  .version {
    color: #afafaf;
    font-size: 1.7rem;
    text-align: center;
    margin: -10px 0;
  }

  .branch-list {
    padding: 10px;
    list-style: none;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.service {
  position: relative;
  margin: 20px;
  width: $service_size;
  height: $service_size;
  background-color: white;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #e2e2e2;
  // transition: all 0.5s;

  &.ok {
    box-shadow: 0px 0px 30px $service_color_ok;
  }
  &.warn {
    box-shadow: 0px 0px 30px $service_color_warn;
  }
  &.selected {
    box-shadow: 0px 0px 30px $service_color_selected;
  }

  &.extended {
    border-radius: 10px;
    height: 100vh;

    .branch-list {
      display: block;
    }
  }

  a {
    color: inherit;
  }

  .info {
    text-align: center;
    height: 100%;
    padding-top: $service_size/2;
  }

  .name {
    display: block;
    width: $service_size;
    line-height: $service_name_lh;
    margin-top: -$service_name_lh/2;
    text-align: center;
    font-size: $service_name_size;
    letter-spacing: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .version {
    color: #afafaf;
    font-size: 1.7rem;
    display: block;
    margin-top: -($service_name_lh*2-1);
  }

  .branches {
    display: block;
    margin-top: $service_name_lh*2-1;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #3e3e3e;
  }
}

.dashboard.full-hd {
  .service {
    width: 17vw;
    height: 17vw;
    box-shadow: 0px 0px 20px #c7c7c7;

    &.warn {
      box-shadow: 0px 0px 30px #de3300;
      border: 3px solid #da562e;
    }

    .info {
      padding-top: 8vw;
    }

    .name {
      width: auto;
      font-size: 4rem;
      line-height: 5rem;
    }

    .version {
      font-size: 2.5rem;
      margin-top: -10rem;
      color: #828282;
    }

    .branches {
      font-size: 5rem;
    }
  }
}
